.hero {
  animation: fadein 2s both;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.simpleSlider {
  width: 100%;
  
  :global(.slick-slide) {
    padding: 0 10px;
  }
}

.firstSlideInitial {
  :global(.box_1) {
    margin-left: 200px !important;
  }
  
  @media (max-width: 992px) {
    :global(.box_1) {
      margin-left: 100px !important;
    }
  }
  
  @media (max-width: 768px) {
    :global(.box_1) {
      margin-left: 50px !important;
    }
  }
  
  @media (max-width: 576px) {
    :global(.box_1) {
      margin-left: 30px !important;
    }
  }
}

.slideCaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 600;
  z-index: 10;
}

.card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.Home_simpleSlider{
  position: relative; width: 100%; 
}

.simpleSlider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slideItem {
  position: relative;
  width: 100%;
  height: 326px;
}

.slideImage {
  object-fit: cover;
}
.slick-slide {
  width: 100%!important;
}


// form css
.inputError {
  border: 2px solid #ff3b3b !important;
  background-color: #fff1f1 !important;
  color: #333;
  padding: 2px;
}

.inputError:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 59, 59, 0.25) !important;
  border-color: #ff3b3b !important;
}

.required {
  color: #ff3b3b;
  margin-left: 4px;
}

/* Fade in from left */
.fadeLeft {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.fadeLeftVisible {
  opacity: 1;
  transform: translateX(0);
}

/* Optional per-element delay */
.fadeLeftDelay {
  transition-delay: 1s;
}
